
<ion-content class="ion-padding">
  
    <ion-item lines="none">
        <ion-label>
          Tasks
        </ion-label>
        <ion-icon slot="end" name="arrow-forward"  [routerLink]="['/view-task']"></ion-icon>
    </ion-item>

    <ion-slides pager="true" [options]="slideOpts" *ngIf="(tasks$ | async); else ngNoTasksTemplate">
      <ion-slide *ngFor="let task of tasks$ | async" (click)="goToTask(task)">
        <ion-card>

          <ion-item lines="none">
            <ion-icon name="create" slot="start" [color]="task.type === '1' ? 'primary' : 'danger'"></ion-icon>
            <ion-label>{{task.title}}</ion-label>
          </ion-item>
        
          <ion-card-content style="text-align: left;">

            <p>{{task.description}}</p>
            
          </ion-card-content>

          <ion-progress-bar [value]="calculateDateToEnd(task)" style="position: absolute;bottom: 0;left: 0;"></ion-progress-bar>

        </ion-card>
      </ion-slide>
    </ion-slides>

    <ion-item lines="none">
      <ion-label>
        Events
      </ion-label>
      <ion-icon slot="end" name="arrow-forward"  [routerLink]="['/view-event']"></ion-icon>
  </ion-item>

  <ion-slides pager="true" [options]="slideOpts" *ngIf="(events$ | async); else ngNoEventsTemplate">
    <ion-slide *ngFor="let event of events$ | async" (click)="goToEvent(event)">
      <ion-card>

        <ion-item lines="none">
          <ion-icon name="create" slot="start"></ion-icon>
          <ion-label>{{event.title}}</ion-label>
        </ion-item>
      
        <ion-card-content style="text-align: left;">
          <p>{{event.type | EventTypePipe}}</p>
          <p>{{event.date | date}}</p>

          <p>{{event.description}}</p>
          
        </ion-card-content>

      </ion-card>
    </ion-slide>
  </ion-slides>

  <ng-template #ngNoTasksTemplate>
    <p class="allcenter">No task</p>
  </ng-template>

  <ng-template #ngNoEventsTemplate>
    <p class="allcenter">No events</p>
  </ng-template>

</ion-content>
