<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card *ngFor="let event of events$ | async | slice:0:10" (click)="goToEvent(event)">

      <ion-item lines="none">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>{{event.title}}</ion-label>
      </ion-item>
    
      <ion-card-content style="text-align: left;">

        <p>{{event.type | EventTypePipe}}</p>
        <p>{{event.date | date}}</p>

        <p>{{event.description}}</p>
        
      </ion-card-content>


    </ion-card>

</ion-content>
