<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>New task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label>Títle</ion-label>
    <ion-input type="text" placeholder="Write the title here..." [(ngModel)]="task.title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Description</ion-label>
    <ion-input type="text" placeholder="Write the description here..." [(ngModel)]="task.description"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label>Date to end</ion-label>
      <ion-datetime [(ngModel)]="task.date_to_end"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Type</ion-label>
    <ion-select value="notifications" interface="action-sheet" [(ngModel)]="task.type">
      <ion-select-option value="1">Normal</ion-select-option>
      <ion-select-option value="2">Important</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-button expand="full" clear (click)="addTask(task)">Add</ion-button>

</ion-content>
